body{
	font-size:100%;
}

#carcasa{
	border:solid 1px black;
	border-radius:500px;
	width:40%;
	background:black;
	position:relative;
}

.pulsadores{
	width:45%;
	margin:1.5% 2.5%;
	padding-bottom:45%;
	display:inline;
}

#pulsadorVerde{
	background:green;
	border-radius:100% 3% 0% 3%;
}

#pulsadorRojo{
	background:red;
	border-radius: 3% 100% 3% 0px;
}

#pulsadorAmarillo{
	background:yellow;
	border-radius: 3% 0px 3% 100%;
}

#pulsadorAzul{
	background:blue;
	border-radius: 0px 3% 100% 3%;

}

#panel{
	background-color:black;
	background-image: url("../../images/logo2.png");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	background-size:85%;
	width:50%;
	padding-bottom:50%;
	border:solid 1px black;
	border-radius:100%;
	float:left;
	position:absolute;
	left:25%;
	top:25%;
	z-index:7;
	text-align:center;
	color:white;
}


#pantalla{
	width:75%;
	padding-bottom:12%;
	position:absolute;
	top:43%;
	left:13%;
	text-align:center;
	font-size:80%;
	border-radius:20%;
	background:green;
	color:white;
}

#botonera{
	position:absolute;
	top:58%;
	width:100%;
	text-align:center;
}

.botonPanel{
	display:inline;
	border:solid 2px black;
	border-radius:100%;
	padding-bottom:10%;
	padding-left:10%;
	position:absolute;
	top:56.8%;
}

#botonInicio{
	left:21%;
	background:yellow;
}

#botonDemo{
	left:44%;
	background:blue;
}

#botonReset{
	left:66%;
	background:green;
}

#switchOn{
	position:absolute;
	top:76%;
	left:43%;
	border:solid 1px black;
	background:black;
	width:10%;
	padding-bottom:5%;
}